.game-map-wholesaler {
    position: absolute;
    width: 8vw;
    height: auto;
    bottom: 9vw;
    left: 8vw;
}
.game-map-retailer {
    position: absolute;
    width: 11vw;
    height: auto;
    bottom: 8vw;
    right: 18vw;
}
.game-map-manufacturer {
    position: absolute;
    width: 9vw;
    height: auto;
    top: 5vw;
    left: 8vw;
    z-index: 1;
}
.game-map-distributor {
    position: absolute;
    width: 8vw;
    height: auto;
    top: 7vw;
    right: 14vw;
    z-index: 1;
}