.game-map-wholesaler {
    position: absolute;
    width: 8vw;
    height: auto;
    bottom: 5vw;
    left: 6vw;
}
.game-map-retailer {
    position: absolute;
    width: 11vw;
    height: auto;
    bottom: 5vw;
    right: 20vw;
}
.game-map-manufacturer {
    position: absolute;
    width: 9vw;
    height: auto;
    top: 4vw;
    left: 7vw;
    z-index: 1;
}
.game-map-distributor {
    position: absolute;
    width: 8vw;
    height: auto;
    top: 6vw;
    right: 17.5vw;
    z-index: 1;
}