@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Game{
    background-image: url('./assets/game/game.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.Boat{
    background-image: url('./assets/game/boat2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    transform: scale(0.8);
}
.Boat2{
    background-image: url('./assets/game/boat1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    transform: scale(0.8);
}



.rotate-reset {
    transform:  rotate(-16deg) scale(0.8);
  }
  
.rotate-init {
    transform:  rotate(-16deg) scale(0.8);
  }
