@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Game{
    background-image: url('./assets/Game/game.png');
}

.Boat{
    background-image: url('./assets/Game/boat2.png');
}
.Boat2{
    background-image: url('./assets/Game/boat1.png');
}
